APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=models_guide
DB_SSLMODE=disable

STORAGE_PATH=./storage/images
CORS_ORIGIN=http://localhost:5173
